
/* element selector: selects HTML elements */
h1 {
    color: darkolivegreen;
    background-color: orange;
    font-size: 3em; 
}

div {
    width: 200px; 
    height: 200 px;
    border: 3px sold brown; 
    text-align: center;
    font-size: 2em; 
    margin: 10px;
    background-color: green;
}

p {
    color: blue;
}

/* ID selectors: select IDs assigned to HTML elements. There should only be one instance of an ID on an HTML page */

#home-title {
    text-align: center; 
}

/* Classes are reusable selectors */

.red {
    background-color: red;
}

.purple {
    background-color: purple; 
} 



.underline {
    text-decoration:            underline;
}

.underline > p {
    color: red;
}